<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color: #f8f8f8; padding: 20px 0; border-bottom: 1px solid #eeeeee;">
  <tr>
    <td align="center" valign="top">
      <table border="0" cellspacing="0" cellpadding="0" width="600" style="max-width: 600px;">
        <tr>
          <td align="center" valign="top" style="padding: 0 20px;">
            <a href="<% public_web_url %>" target="_blank" style="text-decoration: none;">
              <img src="<% logo_url %>" alt="<% company_name %> Logo"
                   width="<% logo_width %>"
                   height="<% logo_height %>"
                   style="display: block; max-width: 100%; height: auto; border: 0; outline: none; text-decoration: none; margin: 0 auto; padding-bottom: 10px;"
                   onerror="this.onerror=null;this.src='<% public_web_url %>/infotrac-logo.png';"
              >
            </a>
            <% #company_name %>
            <p style="font-family: Arial, sans-serif; font-size: 18px; line-height: 24px; color: #2F424F; margin: 0; padding: 0;">
              <strong><% company_name %></strong>
            </p>
            <% /company_name %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>